<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.milkteasystem.mapper.OrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.milkteasystem.entity.Orders">
        <id column="order_id" property="orderId" />
        <result column="order_no" property="orderNo" />
        <result column="user_id" property="userId" />
        <result column="store_id" property="storeId" />
        <result column="total_amount" property="totalAmount" />
        <result column="order_status" property="orderStatus" />
        <result column="remark" property="remark" />
        <result column="take_name" property="takeName" />
        <result column="take_phone" property="takePhone" />
        <result column="create_time" property="createTime" />
        <result column="pay_time" property="payTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id, order_no, user_id, store_id, total_amount, order_status, remark, take_name, take_phone, create_time, pay_time
    </sql>

</mapper>
